<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.samsung.android.simplehealth"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:allowBackup="true"
        android:icon="@drawable/heart"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WeightDetails"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".GlucoseDetails"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".WaterIntakeDetails"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".HeartRateDetails"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".StepDetails"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.samsung.android.health.permission.read"
            android:value="com.samsung.health.blood_glucose;com.samsung.health.step_count;com.samsung.health.heart_rate;com.samsung.health.water_intake;com.samsung.health.weight;" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>